@model EmployeeViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<br />
<br />

<div>

    <partial name="PartialViews/DeleteDetailsEmployeePartial" />

    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>|
    <a asp-controller="Employee" asp-action="Index" class="btn  btn-light">Back To List</a>

</div>

